<div id="<%= dom_id meal_plan %>">
  <ul>
    <% meal_plan.recipes.each do |recipe| %>
      <li><%= recipe.name %> </li>
    <% end %>
  </ul>

  <% if action_name != "show" %>
    <%= link_to "Show this meal plan", meal_plan, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this meal plan', edit_meal_plan_path(meal_plan), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
